---
layout: main
---

<html>
<body>

<h1> Welcome! </h1>

<p>  I am Vanessa, a mathematical biologist with a passion for telling stories through numbers using mathematical models, data science, science communication, and education. </p>

<p>  Currently, I am seeking full-time positions in Belgium (BE) and am open to remote projects. I am also an Instructor at the <a href="https://global.sagrado.edu/pages/sobre-nosotros" > Sagrado Global </a> Data Science & Analytics program and a co-editor of the American Mathematical Society's <a href ="https://blogs.ams.org/blogonmathblogs/author/vanessa/"> Blog on Math Blog </a> and Junior Associate at <a href="http://www.lathisms.org/"> Lathisms.org</a>. 
  During my graduate studies, I was supported by the <a href="https://sites.nationalacademies.org/PGA/FordFellowships/index.htm"> Ford Foundation Predoctoral Fellowship</a>. </p> 
  
<p> I also enjoy taking pictures, drawing, and bowling.</p>


{% for post in paginator.posts %}
<article class="post">
  {% if post.img %}
    <a class="post-thumbnail" style="background-image: url({{"/assets/img/" | prepend: site.baseurl | append : post.img}})" href="{{post.url | prepend: site.baseurl}}"></a>
  {% else %}
  {% endif %}
  <div class="post-content">
    <h2 class="post-title"><a href="{{post.url | prepend: site.baseurl}}">{{post.title}}</a></h2>
    <p>{{ post.content | strip_html | truncatewords: 15 }}</p>
    <span class="post-date">{{post.date | date: '%Y, %b %d'}}&nbsp;&nbsp;&nbsp;—&nbsp;</span>
    <span class="post-words">{% capture words %}{{ post.content | number_of_words }}{% endcapture %}{% unless words contains "-" %}{{ words | plus: 250 | divided_by: 250 | append: " minute read" }}{% endunless %}</span>
  </div>
</article>
{% endfor %}

  
  {% include pagination.html %} 
  
  </body>
</html>

