---
layout: main
---

<html>
<body>

<h1> Welcome! </h1>

<p>  I am Vanessa, a mathematical biologist by training with a passion for telling stories through numbers using mathematical models, data science, science communication, and education. </p>

  <p> Currently, I am a AI Coach <a href="www.becode.org"> BeCode.org </a>, a non-profit organization offering inclusive coding bootcamps for jobseekers to transition into technical jobs.
  
<p> I also enjoy taking pictures, drawing, and bowling.</p>

{% for post in paginator.posts %}
<article class="post">
  {% if post.img %}
    <a class="post-thumbnail" style="background-image: url({{"/assets/img/" | prepend: site.baseurl | append : post.img}})" href="{{post.url | prepend: site.baseurl}}"></a>
  {% else %}
  {% endif %}
  <div class="post-content">
    <h2 class="post-title"><a href="{{post.url | prepend: site.baseurl}}">{{post.title}}</a></h2>
    <p>{{ post.content | strip_html | truncatewords: 15 }}</p>
    <span class="post-date">{{post.date | date: '%Y, %b %d'}}&nbsp;&nbsp;&nbsp;—&nbsp;</span>
    <span class="post-words">{% capture words %}{{ post.content | number_of_words }}{% endcapture %}{% unless words contains "-" %}{{ words | plus: 250 | divided_by: 250 | append: " minute read" }}{% endunless %}</span>
  </div>
</article>
{% endfor %}

  
  {% include pagination.html %} 
  
  </body>
</html>

