
---
layout: main
---
<article class="article-blogpost">
  <div class="blogpost-content">
    {% if blogpost.img %}
    <div class="page-cover-image">
      <figure>
        <img class="blogpost-image" src={{ "/assets/img/" | prepend: site.baseurl | append : blogpost.img}} alt="{{blogpost.title}}">
        {% if blogpost.fig-caption %}
          <figcaption>{{blogpost.fig-caption}}</figcaption>
        {% endif %}
      </figure>
    </div> <!-- End Page Cover Image -->
    {% else %}
    {% endif %}
    <div class="wrap-content">
      <header class="header-blogpost">
        <h1 class="blogpost-title">{{blogpost.title}}</h1>
        <div class="blogpost-date"><span>{{blogpost.date | date: '%Y, %b %d'}}&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
      </header>
      {{content | markdownify}}
      <div class="blogpost-footer">
        <div class="blogpost-share">
          <a href="https://twitter.com/intent/tweet?text={{ blogpost.title }}&url={{ site.url }}{{ blogpost.url }}" title="Share on Twitter" rel="nofollow" target="_blank">Twitter</a>
          <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ blogpost.url }}" title="Share on Facebook" rel="nofollow" target="_blank">Facebook</a>
          <a href="https://plus.google.com/share?url={{ site.url }}{{ blogpost.url }}" title="Share on Google+" rel="nofollow" target="_blank">Google+</a>
        </div>
        <div class="blogpost-tag">
          {% for tag in page.tags %}
            <a href="{{site.baseurl}}/tags#{{tag}}" class="tag">&#35; {{ tag }}</a>
          {% endfor %}
        </div>
      </div>
      #{% include disqus.html %}
    </div> <!-- End Wrap Content -->
  </div> <!-- End Page Content -->
</article> <!-- End Article Page -->
